@charset "utf-8";

ul{
  padding: 0;
}
li {
  list-style: none;
}  
a {
  text-decoration: none;
  color: black;
}
img{
  object-fit: cover;
}
body {
  margin: 0;
  font-family: "arial";
  display: grid;
  grid-template-columns:
  [a]1fr[b]1fr[c]1fr[d]1fr[e]1fr[f]1fr[g];
  grid-template-rows:
  [a]100px[b]auto[c]40px[d];
  background-color: snow;
}
* {
  box-sizing: border-box;
}

nav{
  grid-column-start: a;
  grid-column-end: g;
  grid-row-start: a;
  grid-row-end: b;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100px;
  background-color: rgb(70, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .logo{
  height: 55px;
  width: 100px;
  background: url(../image/logo.png) no-repeat center / cover; 
  margin-right: 40px;
  border: solid 3px whitesmoke;
  border-radius: 10px;
}
nav ul{
  display: flex;
}
nav li{
  margin-left: 5px; 
  line-height: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 120px;
}
nav li span{
  font-size: .8rem;
  font-weight: normal;
}
nav a{
  color: whitesmoke;
}
nav li :hover{
  color: orange;
}

.menubutton {
  visibility: hidden;
  z-index: 0;
}
.SpCaption{
  visibility: hidden;
  z-index: 0;
}

main{
  grid-column-start: a;
  grid-column-end: g;
  grid-row-start: b;
  grid-row-end: c;
  display: grid;
  grid-template-columns:
  [p]1fr[q]1fr[r]1fr[s]1fr[t]1fr[u]1fr[v];
  grid-template-rows:
  [p]auto[q]auto[r]auto[s]auto[t];
}
* h2 span{
  background: linear-gradient(transparent 60%, orange 0);
  border-radius: 80% 50% 60% 5%/ 80% 75% 15% 75%;
}

.about{
  grid-column-start: q;
  grid-column-end: u;
  grid-row-start: p;
  grid-row-end: q;
}
.about h2{
  text-align: left;
  font-size: 3rem;
  letter-spacing: .1em;
  margin: 50px auto 0 auto;
  border-bottom: 2px solid rgb(70,70,70);
  display: block;
}
#Career {
  grid-column-start: q;
  grid-column-end: t;
  grid-row-start: q;
  grid-row-end: r;
}
#Career h2{
  font-size: 2.5rem;
  margin: 100px auto 50px auto;
}
#Career li{
  display: flex;
}
#Career .date {
  width: 100px;
  font-size: 1.2rem;
  margin-right: 30px;
  white-space: nowrap;
  position: relative;
}
#Career .content {
  width: 100%;
  border-left: solid 2px orange;
  padding-left: 30px;
}
#Career .content h3{
  font-size: 1.2rem;
}
#Career .content p{
  font-size: 1rem;
}
#Career .date:before {
  content: '';
  width: 10px;
  height: 10px;
  background: darkorange;
  position: absolute;
  top: .6em;
  right: -30px;
  transform: translate(calc(50% + 1px), -50%);
  border-radius: 50%;
}

#Strength {
  grid-column-start: q;
  grid-column-end: u;
  grid-row-start: r;
  grid-row-end: s;
}
#Strength h2{
  text-align: center;
  font-size: 2.5rem;
  margin: 100px auto 50px auto;
}
#Strength .contents{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
#Strength .content {
  position: relative;
  margin: 20px 40px;
  border: double 5px orange;
  border-radius: 15%;
  max-width: 280px;
  min-width: 240px;
  width: calc(100% / 3);
  aspect-ratio: 1.25;
}
#Strength .content .title {
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translate(-50% ,50%);
  padding: 0 5px;
  line-height: 1em;
  font-size: 1.2rem;
  background: snow;
  color: black;
  font-weight: bold;
  white-space: nowrap;
}
#Strength .content p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,calc(-50% - 1em));
  width: 80%;
}

#Hobby {
  grid-column-start: r;
  grid-column-end: u;
  grid-row-start: s;
  grid-row-end: t;
  text-align: right;
}
#Hobby h2{
  font-size: 2.5rem;
  margin: 100px auto 50px auto;
}
#Hobby .carousel {
  position: relative;
  overflow: hidden;
  border: solid 3px rgb(70, 70, 70);
  border-radius: 5px;
  height: 480px;
  margin-bottom: 100px;
}
#Hobby .carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}
#Hobby .carousel-item {
  min-width: 100%;
}
#Hobby .img1{
  background: url(../image/hobby1.png) no-repeat center / cover; 
}
#Hobby .img2{
  background: url(../image/hobby2.png) no-repeat center / cover; 
}
#Hobby .img3{
  background: url(../image/hobby3.png) no-repeat center / cover; 
}
#Hobby .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: orange;
  border-radius: 2px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
#Hobby .button.prev {
  left: 10px;
}
#Hobby .button.next {
  right: 10px;
}

footer{
    grid-column-start: a;
    grid-column-end: g;
    grid-row-start: c;
    grid-row-end: d;
    height: 40px;
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    text-align: center;
    font-size: .8rem;
    color: whitesmoke;
}
footer .page-top {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: snow;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
}
footer .page-top::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-top: 5px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  transform: rotate(-45deg);
}
footer .page-top::after {
  content: "";
  width: 40px;
  height: 40px;
  border: dotted 2px black;
  border-radius: 50%;
  position: absolute;
  left: -.5;
  bottom: -.5;
  animation: 20s linear infinite rotation;
}
@keyframes rotation {
  0% { 
    transform: rotateZ(0);
  }
  100% { 
    transform: rotateZ(360deg); 
  }
}

