@charset "utf-8";

@media (max-width: 1024px) {
    
    header h1{
        font-size: 3rem;
    }
    #MainImg{
        height: 500px;
    }
    #About .saying{
        font-size: 6rem;
      }
    #About .intro .t1{
        font-size: 1.5rem;
    }

    #Career {
        grid-column-start: q;
        grid-column-end: u;
    }
    #Hobby {
        grid-column-start: q;
        grid-column-end: u;      
    }
    #Hobby .carousel {
        height: 360px;
    }
}

@media (max-width: 756px) {

    header{
        visibility: hidden;
        transform: translateX(-100%);
        opacity: 0;
    }
    #MainImg{
        grid-column-start: b;
        grid-column-end: f;
        height: 300px;
    }
    #MainImg li{ 
        width: 100%;
    }

    nav{
        visibility: hidden;
        height: 100vh; 
        flex-direction: column;
        justify-content: flex-start;
        transform: translateY(-100%);
        opacity: 0;
    }
    nav .logo{
        margin-right: 0;
        margin-top: 80px;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin-left: 0; 
        margin-top: 40px;
    }
    nav.open{
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        transition: .5s;
    }
    .menubutton {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 100;
        width: 40px;
        height: 40px;
        background: white;
        border: solid 1px gray;
        border-radius: 3px;
        cursor: pointer;
        visibility: visible;
    }
    .menubutton i {
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        height: 2px;
        background: grey;
        transition: all .2s
    }
    .menubutton i:first-child {
        top: 28%;
    }
    .menubutton i:nth-child(2) {
        top: 50%;
    }
    .menubutton i:last-child {
        top: 72%;
    }
    .menubutton.open i:first-child {
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    .menubutton.open i:nth-child(2) {
        opacity: 0;
    }
    .menubutton.open i:last-child {
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }

    .SpCaption{
        visibility: visible;
        grid-column-start: a;
        grid-column-end: g;
        grid-row-start: a;
        grid-row-end: b;
        background-color: rgb(70, 70, 70);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    .SpCaption .logo{
        height: 40px;
        width: 70px;
        background: url(../image/logo.png) no-repeat center / cover; 
        margin-right: 20px;
        border: solid 3px whitesmoke;
        border-radius: 10px;
    }
    .SpCaption h2{
        color: whitesmoke;
        text-align: center;
        font-size: 1.2rem;
    }

    #About {
        height: 400px;
    }
    #About h2{
        font-size: 1.5rem;
        margin: 50px auto;
    }
    #About .saying{
        font-size: 3.5rem;
    }
    #About img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
    #About .ProfileImg {
        margin-bottom: 20px;
    }
    #About .ProfileImg:after{
        width: 60px;
        height: 60px;
        top: 20px;
        left: 10px;
    }
    #About .intro .t1{
        font-size: 1.2rem;
    }
    #About .intro .t1 .spbr{
        display: block;
    }
    #About .intro .t2{
        font-size: .8rem;
        line-height: 1.2rem;
    }
    #About .pagelink{
        width: 60px;
        font-size: 1rem;
    }
    #About .pagelink:hover{
        width: 90px;    
    }
    
    #Skill{    
        grid-column-start: r;
        grid-column-end: t;
        grid-row-start: q;
        grid-row-end: r;
    }
    #Skill h2{
        font-size: 1.5rem;
        margin: 50px auto;
    }
    #Skill .contents{
        gap: 5px;
    }
    #Skill img{
        width: 60%;
    }
    #Skill meter{
        width: 60%;
        height: 10px;
    }
    #Skill .content p{
        font-size: .8rem;
    }

    #Product h2{
        font-size: 1.5rem;
        margin: 50px auto;
    }
    #Product .content p{
        font-size: 1rem;
    }

    .about h2{
        margin: 20px auto 30px auto;
        font-size: 2rem;
    }
    #Career h2{
        font-size: 1.5rem;
        margin: 50px auto;
    }
    #Career .date {
        font-size: .9rem;
    }
    #Career .content h3{
        font-size: .9rem;
    }
    #Career .content p{
        font-size: .8rem;
    }

    #Strength h2{
        font-size: 1.5rem;
        margin: 50px auto;
    }
    #Strength .content .title {
        font-size: .9rem;
    }
    #Strength .content p{
        font-size: .8rem;
    }

    #Hobby h2{
        font-size: 1.5rem;
        margin: 50px auto;
    }
    #Hobby .carousel {
        height: 300px;
    }

    .product h2{
        margin: 20px auto 30px auto;
        font-size: 2rem;
    }
    .product .monitor {
        border: solid .6em rgb(40, 40, 40);
    }
    .product p, a{
        font-size: .9rem;
    }
   


}

